<div class="container">
	<h1>次回開催情報</h1>
</div>
<div class="container next_detail">
	<p class="event_info_item">開催日時</p>
	<p>2018/1/27(土) 14:00～20:15</p>
	<p class="event_info_item">開催場所</p>
	<p>京都スワロウテイル(<a href="http://swallowtail.asia/?page_id=28">アクセス</a>)</p>
	<p class="event_info_item">参加料金</p>
	<p>1500円＋1D(お得な各種割引！)</p>
	<p class="event_info_item">スペシャルゲスト</p>
	<p>スキャンパー村上</p>
	<p class="event_info_item">イベント内容</p>
	<div class="row">
		<div class="col-xs-12">
			<p>―DJパフォーマンス</p>
		</div>
		<div class="col-xs-6">
			<p class="intro_text">オタクによるオタクの為のDJパフォーマンス。”好き”を表現したパフォーマンスに、乞うご期待。</p>
		</div>
		<div class="col-xs-6">
			<img src="/assets/event/dj.png" class="img-responsive" alt="DJパフォーマンス">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<p>―サウンドクラッシュ</p>
		</div>
		<div class="col-xs-6">
			<p class="intro_text">DJ同士が曲を掛けあって、オーディエンスの歓声で勝敗を決するショーケース。<br>決められた時間の中で、この日のために用意した音源を使い、時にはMCなどで攻撃し合う。<br>オタク・サウンドクラッシュでは、音源に加え映像・トークでコンテンツに対する恋を語り、どちらの恋がよりオーディエンスに伝わったかを競い合います。</p>
		</div>
		<div class="col-xs-6">
			<img src="/assets/event/sound-crash.png" class="img-responsive" alt="DJパフォーマンス">
		</div>
	</div>
	<hr>
	<p class="event_info_item">割引情報</p>
	<p>参加表明割引</p>
	<br>
</div>
<br>
<div class="container">
	<button type="button" class="btn btn-primary btn-lg btn-block">ツイッターと連携して参加する</button>
</div>
<hr>
<div class="container">
	<h2>参加者一覧</h2>
	<hr>
	<div class="row attend_otaku col-xs-12 col-md-7 col-sm-7">
		<img src="/assets/otaku/shingo.jpg" class="pull-left">
		<p class="attend_otaku_name">SHINGO</p>
		<p class="attend_otaku_attribute"><span class="label label-default">THE IDOLM@STER</span><p>
	</div>
	<div class="row attend_otaku col-xs-12 col-md-5 col-sm-5">
		<img src="/assets/otaku/shingo.jpg" class="pull-left">
		<p class="attend_otaku_name">SHINGO</p>
		<p class="attend_otaku_attribute"><span class="label label-warning">初参加</span> <span class="label label-default">THE IDOLM@STER</span><p>
	</div>
	<div class="row attend_otaku col-xs-12 col-md-7 col-sm-7">
		<img src="/assets/otaku/shingo.jpg" class="pull-left">
		<p class="attend_otaku_name">SHINGO</p>
		<p class="attend_otaku_attribute"><span class="label label-default">THE IDOLM@STER</span><p>
	</div>
	<div class="row attend_otaku col-xs-12 col-md-5 col-sm-5">
		<img src="/assets/otaku/shingo.jpg" class="pull-left">
		<p class="attend_otaku_name">SHINGO</p>
		<p class="attend_otaku_attribute"><span class="label label-warning">初参加</span> <span class="label label-default">THE IDOLM@STER</span><p>
	</div>
	<div class="row attend_otaku col-xs-12 col-md-7 col-sm-7">
		<img src="/assets/otaku/shingo.jpg" class="pull-left">
		<p class="attend_otaku_name">SHINGO</p>
		<p class="attend_otaku_attribute"><span class="label label-warning">名誉ガチ恋ガーデナー</span> <span class="label label-default">THE IDOLM@STER</span><p>
	</div>
	<div class="row attend_otaku col-xs-12 col-md-5 col-sm-5">
		<img src="/assets/otaku/shingo.jpg" class="pull-left">
		<p class="attend_otaku_name">SHINGO</p>
		<p class="attend_otaku_attribute"><span class="label label-default">THE IDOLM@STER</span><p>
	</div>
</div>
<hr>
<div class="container">
	<button type="button" class="btn btn-primary btn-lg btn-block">ツイッターと連携して参加する</button>
</div>