h2 {
  font-family: 'KillMe';
}

.next_detail {
  font-family: 'KillMe';
  box-shadow: 20px 10px 7px 10px #666;
  padding: 15px 15px 50px 15px;
  margin-bottom: 10px;
  border:1px solid #000;
}

.prof-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: 0 10px 10px 10px;
}

div .otaku {
  margin-top: 20px;
}

.otaku_name {
  font-size: 40px;
}

.attend_otaku img {
  width: 60px;
  height: 60px;
  padding: 0 10px 0 0;
  object-fit: contain;
}

.event_info_item {
  border-bottom: solid 2px DeepPink;
}

.intro_text {
  font-size: 0.8em;
}