<div class="container">
  <h1>特別企画</h1>
</div>
<style type="text/css">
  .special_area {
    background-color: gainsboro;
  }
</style>
<br>
<div class="row special_area">
  <a href="/specials/1">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/specials/special1/special1_img.jpg" class="img-responsive">
    </div>
  </a>
</div>
<br>
