<header class="jumbotron">
  <div class="container">
    <p>―オタクが恋を、叫ぶ場所。</p>
    <p>オタクによるオタクコンテンツ布教型イベント</p>
  </div>
</header>
<div class="container content_area">
    <h1>ガチ恋ガーデンとは</h1>
    <p>アニメに、キャラクターに、ゲームに、声優に。"恋"をしたオタク達によるコンテンツ布教型公開告白イベント。</p>
	<p>それがガチ恋ガーデンです。</p>
	<p>DJパフォーマンスを中心に、映像、トーク、その他面白いこと何でもあり。</p>
	<p>オタクだからこそできることを追及する最高のオタクイベントを目指し、不定期開催しています。</p>
</div>
<br>
<div class="container content_area">
    <h1>最新情報</h1>
    <!--
    <p><span>2018年4月19日：</span>次回開催情報解禁！</p>
	-->
</div>
<br>
<div class="container content_area">
    <h1>ガチメイトNews</h1>
    <!--
    <p><span>2018年4月19日：</span>HAGEさんが登録されました。ようこそガチメイトへ！</p>
    -->
</div>
<br>
<div class="container tweet content_area">
	<h1 class="tweet_section_title">オタクの反応</h1>
	<a class="twitter-timeline"  href="https://twitter.com/hashtag/%E3%82%AC%E3%83%81%E6%81%8B%E3%82%AC%E3%83%BC%E3%83%87%E3%83%B3" data-widget-id="945990799455424513"></a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>