<div class="container">
	<h1>オタク</h1>
</div>

<div class="container otaku-list">
	<p>
		ガチ恋ガーデンに所属しているオタク達
	</p>
	<div class="row otaku">
		<div class="col-xs-5 col-sm-6 col-md-6">
			<p class="otaku_name text-right">
				HAGE
			</p>
		</div>
		<div class="col-xs-7 col-sm-6 col-md-6">
			<img src="/assets/otaku/hage.jpg" class="prof-img img-responsive">
		</div> 
		<div class="col-xs-12 col-sm-12 col-md-12">
			<p class="otaku_attribute text-center">
				<span class="label label-default">DJ</span><span class="label label-default">オーガナイザー</span><span class="label label-default">丸戸史明</span>
			</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<p class="otaku_prof_text text-center">
				大事なことは全部作品のシナリオから学んだ。
			</p>
		</div>
	</div>
	<hr>
	<div class="row otaku">
		<div class="col-xs-5 col-sm-6 col-md-6">
			<p class="otaku_name text-right">
				しんご
			</p>
		</div>
		<div class="col-xs-7 col-sm-6 col-md-6">
			<img src="/assets/otaku/shingo.jpg" class="prof-img img-responsive">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<p class="otaku_attribute text-center">
				<span class="label label-default">VDJ</span><span class="label label-default">オーガナイザー</span><span class="label label-default">THE IDOLM@STER</span><span class="label label-default">フライングドッグ </span>
			</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<p class="otaku_prof_text text-center">
				三度の飯より余裕で安野希世乃
			</p>
		</div>
	</div>
	<hr>
	<div class="row otaku">
		<div class="col-xs-5 col-sm-6 col-md-6">
			<p class="otaku_name text-right">
				きし
			</p>
		</div>
		<div class="col-xs-7 col-sm-6 col-md-6">
			<img src="/assets/otaku/kisi.jpg" class="prof-img img-responsive">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<p class="otaku_attribute text-center">
				<span class="label label-default">DJ</span><span class="label label-default">温泉むすめ</span><span class="label label-default">和多田美咲</span>
			</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<p class="otaku_prof_text text-center">
				わっちゃんの為にできるコト。
			</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="otaku">
			<div class="col-xs-5 col-sm-6 col-md-6">
				<p class="otaku_name text-right">
					しゃけ
				</p>
			</div>
			<div class="col-xs-7 col-sm-6 col-md-6">
				<img src="/assets/otaku/shake.jpg" class="prof-img img-responsive">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<p class="otaku_attribute text-center">
					<span class="label label-default">DJ</span><span class="label label-default">パチンコ</span><span class="label label-default">Sphere</span>
				</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<p class="otaku_prof_text text-center">
					活動休止はエモいからアド
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="otaku">
			<div class="col-xs-5 col-sm-6 col-md-6">
				<p class="otaku_name">
					はっちー
				</p>
			</div>
			<div class="col-xs-7 col-sm-6 col-md-6">
				<img src="/assets/otaku/hachi.jpg" class="prof-img img-responsive">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<p class="otaku_attribute text-center">
					<span class="label label-default">DJ</span><span class="label label-default">現場主義</span><span class="label label-default">宮野真守</span>
				</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<p class="otaku_prof_text text-center">
					「で、現場はいつ？」
				</p>
			</div>
		</div>
	</div>
</div>
